<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Lembrete</title>
    <link rel="stylesheet" th:href="@{/css/lembrete-create.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div class="container">
    <h2>Criar Lembrete</h2>

    <form th:action="@{/lembretes/create}" method="post" th:object="${lembrete}">
        <!-- usuárioId oculto -->
        <input type="hidden" th:field="*{usuarioId}"/>

        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" th:field="*{titulo}" placeholder="Título do lembrete" required/>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" th:field="*{descricao}" placeholder="Descrição do lembrete" required></textarea>
        </div>

        <div class="form-group">
            <label for="data">Data</label>
            <input type="datetime-local" id="data" th:field="*{data}" required/>
        </div>

        <div class="form-group">
            <label for="prioridade">Prioridade</label>
            <select id="prioridade" th:field="*{prioridade}" required>
                <option value="ALTA">Alta</option>
                <option value="MODERADA">Moderada</option>
                <option value="BAIXA">Baixa</option>
            </select>
        </div>

        <div class="form-group">
            <label for="categoria">Categoria</label>
            <select id="categoria" th:field="*{categoria}" required>
                <option value="SAUDE">Saude</option>
                <option value="LAZER">Lazer</option>
                <option value="PROFISSIONAL">Profissional</option>
                <option value="FAMILIA">Família</option>
                <option value="OUTRO">Outro</option>
            </select>
        </div>

        <button type="submit" class="btn-save">Salvar</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
